<div class="form-group">
    <label for="jobTitle">Job Title</label>
    <input type="text" class="form-control" id="jobTitle" placeholder="Cool job name">
</div>
<div class="form-group">
    <label for="jobReward">Job reward in Ether</label>
    <input type="number" class="form-control" id="jobReward" placeholder="0.3402300">
</div>

<div class="form-group">
    <label for="jobDescription">Description of the job</label>
    <textarea class="form-control" id="addJobDescription" rows="8"></textarea>
</div>
<div>
    <button type="submit" id="submitNewJob" class="btn btn-primary mb-2">Confirm identity</button>
</div>